.authenticated-content {
  width: 70%;
  min-height: 500px;
  height: auto;
  margin-top: 30px;
  margin-left: 40px;
}

.intro {
  margin-left: 100px;
  margin-bottom: 8px;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 50px;
}

.brand-display {
  position: absolute;
  margin-right: 30px;
  top: 10%;
  right: 10%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.5rem;
  font-weight: 500;
}

.brand-display a {
  text-decoration: none;
  color: inherit;
}

.brand-display a:hover {
  text-decoration: none;
}
