body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image:url('./clear_weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align:left;
}

.public{
  width: 100%;
  height: 100vh;
}

.top-div{
  position: absolute;
  top:5%;
  width: 100%;
}

.top-div button{
  float:right;
  margin-right:4px;
}

.login-mod{
  margin-right: 8px;
}

.top-div span{
  float:left;
  margin-left: 70px;
  font-weight: bold;
}

.app-name{
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
}
.search-mod{
  position: absolute;
  top:5%;
  left:30%;
  display: inline-flex;
}

.left{
  float:left;
}
.box{
  margin-right: 2px;
}

.current-weather{
  position:absolute;
  top:15%;
  left:23%;
  width: 60%;
  height: 43%;
  padding: 4px;
}

.basics{
  display: inline-flex;
  width: 100%;
  height: 40px;
}

.further-details{
  margin-left: 160px;
  margin-top: 30px;
  width: 100%;
  display: flex;
}

.further-details .img{
  width: 100%;
  height: 100%;
}

.further-details-stats{
  margin-left: 16px;
  text-transform: capitalize;
  display: inline-flex;
}

.further-details-stats div{
  margin-right: 16px;
  font-weight: bold;
}

.alt{
  display: flex;
  position: absolute;
  top:48%;
  left:35%;
}

.initial-location{
  margin-top:4px;
  margin-bottom: 4px;
  font-size: 1em;
  margin-left: 200px;
}

.authenticated-content{
  width: 60%;
  height:250px;
  position:absolute;
  top:55%;
  left:25%;
  background-color: #f5f5f5;
}
